@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <!-- Image added below with size adjustments -->
    <div style="text-align: center;"> <!-- Ensures the image is centered horizontally -->
        <img src="~/joel.jpeg" alt="Joel Hilton" style="margin-top: 20px; width: 40%; height: auto;"/> <!-- Adjusts the path to your image location and its size -->
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieEntries">View Movie Entries</a>
</div>