
@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    
    <p>
        Joel performs regularly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>. 
        Check out his performances and enjoy a good laugh!
    </p>
    
    <p>
        Also, explore more about Joel's insights and contributions on <a href="https://baconsale.com/" target="_blank">Baconsale</a>.
    </p>
    
    <div style="text-align: center;">
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/BaconsaleKate.jpg" alt="Baconsale Podcast" style="width: 50%; height: auto; margin-top: 20px;"/>
        </a>
    </div>
</div>
